<p class="breve_top"><strong>La prochaine séance du Conseil communal aura lieu le lundi 9 avril à 20h. Elle se déroulera à la salle du Conseil, Grand-Place Baudouin Ier, 3 (2e étage) à 1420 Braine-l'Alleud.

Bienvenue à tous ! </strong></p>


<div align="justify"><font color="#007cba"><strong><br />
</strong></font></div>
<div align="justify"><font color="#007cba"><strong>ORDRE DU JOUR : <br />
</strong></font></div>
<br />
<table>
    <tbody>
        <tr>
            <td valign="top" align="center">
            <p><strong>1.</strong></p>
            </td>
            <td align="justify">
            <p><strong>INTERCOMMUNALE DE MUTUALISATION EN MATIERE INFORMATIQUE ET   ORGANISATIONNELLE (IMIO) - RENOUVELLEMENT DES ORGANES DE GESTION -   DESIGNATION D'UN ADMINISTRATEUR AU SEIN DU CONSEIL D'ADMINISTRATION</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; approuver la candidature   de Madame V&eacute;ronique DENIS-SIMON pour si&eacute;ger au sein du nouveau Conseil   d'administration de l'intercommunale IMIO.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>2.</strong></p>
            </td>
            <td align="justify">
            <p><strong>PLAN DE COHESION SOCIALE - RAPPORT FINANCIER PORTANT SUR L'ANNEE 2017</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; approuver le rapport   financier 2017 du Plan de Coh&eacute;sion Sociale.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>3.</strong></p>
            </td>
            <td align="justify">
            <p><strong>ZONE DE POLICE DE BRAINE-L&rsquo;ALLEUD N&deg; 5273 - DECLARATION DE LA VACANCE   D'EMPLOIS - MOBILITE 2018-02</strong></p>
            <p>Il est propos&eacute; au Conseil communal de d&eacute;clarer la vacance   de 6 emplois pour inspecteurs de police au d&eacute;partement op&eacute;rationnel de la   Zone de police (section intervention) dans le cadre de la mobilit&eacute; 2018-02.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>4.</strong></p>
            </td>
            <td align="justify">
            <p><strong>DIRECTEUR FINANCIER - RAPPORT ANNUEL AU CONSEIL COMMUNAL SUR   L'EXECUTION DE SA MISSION</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; prendre connaissance du   rapport du 15.03.2018 de Monsieur Y. DAEMS, Directeur financier, en ex&eacute;cution   de l'article L1124-40, <span class='spec'>&sect;</span>4 du C.D.L.D.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>5.</strong></p>
            </td>
            <td align="justify">
            <p><strong>SUBSIDES - RAPPORT ANNUEL AU CONSEIL - ANNEE 2017</strong></p>
            <p>Conform&eacute;ment &agrave; l'article L1122-37, <span class='spec'>&sect;</span> 2 du C.D.L.D., le   Conseil communal est invit&eacute; &agrave; prendre connaissance des subsides octroy&eacute;s   durant l'ann&eacute;e 2017 (en num&eacute;raire et en valorisation des subsides en nature   et du pr&ecirc;t de mat&eacute;riel).</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>6.</strong></p>
            </td>
            <td align="justify">
            <p><strong>PROCES-VERBAL DE VERIFICATION DE LA CAISSE COMMUNALE AU 31.12.2017</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; prendre connaissance du   proc&egrave;s-verbal de v&eacute;rification de la caisse communale &eacute;tabli au 31.12.2017.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>7.</strong></p>
            </td>
            <td align="justify">
            <p><strong>COMPTES COMMUNAUX 2017</strong></p>
            <p>Il est propos&eacute; au Conseil communal d'arr&ecirc;ter les comptes   de l'exercice 2017.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>8.</strong></p>
            </td>
            <td align="justify">
            <p><strong>BUDGET COMMUNAL 2018 - MODIFICATION BUDGETAIRE N&deg;1 DES SERVICES   ORDINAIRE ET EXTRAORDINAIRE</strong></p>
            <p>Il est propos&eacute; au Conseil communal d'arr&ecirc;ter la   modification budg&eacute;taire n&deg;1 du budget communal de l'exercice 2018, relative   aux services ordinaire et extraordinaire.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>9.</strong></p>
            </td>
            <td align="justify">
            <p><strong>ZONE DE POLICE N&deg; 5273 - COMPTES ANNUELS 2017</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; arr&ecirc;ter provisoirement   les comptes de la Zone de police de Braine-l'Alleud pour l'exercice   2017.   </p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>10.</strong></p>
            </td>
            <td align="justify">
            <p><strong>ZONE DE POLICE N&deg; 5273 - PROCES-VERBAL DE VERIFICATION DE LA CAISSE   AU 31.12.2017</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; prendre connaissance du   proc&egrave;s-verbal de v&eacute;rification de la caisse de la Zone de police de   Braine-l'Alleud &eacute;tabli au 31.12.2017.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>11.</strong></p>
            </td>
            <td align="justify">
            <p><strong>TRANSFERT A LA ZONE DE SECOURS DU BRABANT WALLON DES EMPRUNTS   CONTRACTES PAR LA COMMUNE RELATIFS A LA CASERNE DE MONT-SAINT-JEAN REPRISE   PAR LADITE ZONE DE SECOURS</strong></p>
            <p>Il est propos&eacute; au Conseil communal de transf&eacute;rer &agrave; la Zone   de Secours du Brabant wallon, &agrave; la date du 31.12.2016, les emprunts li&eacute;s au   financement de la caserne, contract&eacute;s aupr&egrave;s de la S.A. BELFIUS Banque, pour   un solde restant d&ucirc; total de 36.294,98 &euro;, et les charges et les obligations y   aff&eacute;rentes, ainsi que toutes les proc&eacute;dures de march&eacute;s publics en cours et   l&rsquo;ex&eacute;cution des march&eacute;s d&eacute;j&agrave; attribu&eacute;s relatives aux emprunts susmentionn&eacute;s.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>12.</strong></p>
            </td>
            <td align="justify">
            <p><strong>ZONE DE POLICE DE BRAINE-L&rsquo;ALLEUD N&deg; 5273 - BUDGET EXTRAORDINAIRE   2018 - MODE DE PASSATION ET CONDITIONS DE CERTAINS MARCHES</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; autoriser le Coll&egrave;ge   communal &agrave; attribuer, par la proc&eacute;dure n&eacute;goci&eacute;e sur simple facture accept&eacute;e,   les march&eacute;s relatifs aux d&eacute;penses de moindre importance inscrites au budget   extraordinaire de l'exercice 2018 de la Zone de Police n&deg; 5273.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>13.</strong></p>
            </td>
            <td align="justify">
            <p><strong>FABRIQUE D'EGLISE SAINT-&Eacute;TIENNE - COMPTES 2017 - APPROBATION AVEC   REMARQUES</strong></p>
            <p>Il est propos&eacute; au Conseil communal d'approuver avec   remarques le compte 2017 de la Fabrique d'&eacute;glise Saint-&Eacute;tienne.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>14.</strong></p>
            </td>
            <td align="justify">
            <p><strong>FABRIQUE D'EGLISE NOTRE-DAME DU BON CONSEIL - COMPTES 2017- AVIS   DEFAVORABLE</strong></p>
            <p>Il est propos&eacute; au Conseil communal d'&eacute;mettre un avis   d&eacute;favorable sur le compte 2017 de la Fabrique d'&eacute;glise Notre-Dame du Bon   Conseil.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>15.</strong></p>
            </td>
            <td align="justify">
            <p><strong>FABRIQUE D'EGLISE SAINT-S&Eacute;BASTIEN - COMPTES 2017 - APPROBATION</strong></p>
            <p>Il est propos&eacute; au Conseil communal d'approuver le compte   2017 de la Fabrique d'&eacute;glise Saint-S&eacute;bastien.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>16.</strong></p>
            </td>
            <td align="justify">
            <p><strong>CREATION D'UN COMITE DE PILOTAGE POUR L'ELABORATION ET LE SUIVI DU   PLAN D'ACTION EN FAVEUR DE L'ENERGIE DURABLE - PROJET POLLEC 3</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; d&eacute;signer ses   repr&eacute;sentants effectifs et suppl&eacute;ants au sein du Comit&eacute; de Pilotage en vue de   la r&eacute;alisation du PAEDC de la Commune et &agrave; valider la charte de   fonctionnement du Comit&eacute; de Pilotage.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>17.</strong></p>
            </td>
            <td align="justify">
            <p><strong>ECLAIRAGE PUBLIC - RENFORCEMENT DU RESEAU EP - ECLAIRAGE DES PASSAGES   POUR PIETONS A LA ROUTE DE PIRAUMONT - 3 POINTS</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; approuver l'ex&eacute;cution des   travaux de placement de l'&eacute;clairage pour desservir les passages pi&eacute;tons &agrave; la   route de Piraumont &agrave; hauteur de la future piscine, dont l'estimation s'&eacute;l&egrave;ve   &agrave; 11.680,05 &euro; T.V.A.C.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>18.</strong></p>
            </td>
            <td align="justify">
            <p><strong>REMPLACEMENT ECLAIRAGE PUBLIC DANS LE CENTRE-VILLE - PHASE 1 - PARTIE</strong></p>
            <p>Il est propos&eacute; au Conseil communal de marquer son accord   sur l'ex&eacute;cution des travaux de renouvellement de l'&eacute;clairage public au Pont   Courbe, d'approuver le plan index&eacute; HCTM 333904, &eacute;tabli par l'A.I.C.R.L. ORES,   ainsi que les devis estimatifs de la d&eacute;pense arr&ecirc;t&eacute;e au montant global   de 45.586,88 &euro; T.V.A.C. et d'imputer la d&eacute;pense &agrave; la fonction 426/735-60 du   budget extraordinaire de l'exercice 2018.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>19.</strong></p>
            </td>
            <td align="justify">
            <p><strong>AMENAGEMENT RESEAU CYCLABLE A L'INITIATIVE DE LA PROVINCE DU BRABANT   WALLON - CHEMIN DE BAULERS ET CHEMIN DU CHAMP - CONVENTIONS FIXANT LES   MODALITES D'EXECUTION DES TRAVAUX A CHARGE DE LA PROVINCE DU BRABANT WALLON</strong></p>
            <p>Il est propos&eacute; au Conseil communal d'approuver le texte   des conventions &agrave; passer entre la Commune de Braine-l'Alleud et la Province   du Brabant wallon fixant les modalit&eacute;s d'ex&eacute;cution des travaux d'am&eacute;nagement   du chemin de Baulers et du chemin du Champ dans le cadre de l'am&eacute;nagement du   r&eacute;seau cyclable &agrave; points noeuds initi&eacute; par la Province du Brabant wallon.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>20.</strong></p>
            </td>
            <td align="justify">
            <p><strong>PLAN D'ALIGNEMENT - DECRET DU 06.02.2014 RELATIF A LA VOIRIE   COMMUNALE - APPROBATION DU PROJET DE MODIFICATION DES PLANS D'ALIGNEMENTS DU   CHEMIN N&deg; 114 ET DU SENTIER N&deg; 114 - APPROBATION PROVISOIRE ET MISE A ENQUETE   PUBLIQUE</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; marquer son accord sur   l'&eacute;laboration du projet de plan d'alignement   modifiant les alignements du chemin n&deg; 114 et du sentier n&deg;   114 suivant le plan de d&eacute;limitation et d'emprise   &eacute;tabli par Monsieur Paul de MOFFARTS, g&eacute;om&egrave;tre-expert, le   12.12.2017 et &agrave; charger le Coll&egrave;ge communal d'&eacute;laborer et de soumettre &agrave;   enqu&ecirc;te publique ledit projet conform&eacute;ment aux dispositions des articles 24   et suivants du d&eacute;cret du 06.02.2014 relatif &agrave; la voirie communale.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>21.</strong></p>
            </td>
            <td align="justify">
            <p><strong>PLAN D'ALIGNEMENT - DECRET DU 06.02.2014 RELATIF A LA VOIRIE   COMMUNALE - APPROBATION DU PROJET DE REGULARISATION DU PLAN D'ALIGNEMENT   MODIFICATIF DE L'ANGLE FORME PAR LA RUE CLOQUET ET LA RUE DE LA GO&Euml;TTE -   APPROBATION DEFINITIVE DU PLAN D'ALIGNEMENT MODIFICATIF</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; prendre connaissance des   r&eacute;sultats de l'enqu&ecirc;te publique et de l'avis remis par le Coll&egrave;ge provincial   et &agrave; approuver d&eacute;finitivement les modifications apport&eacute;es aux   alignements de l'angle form&eacute; par la rue de la Go&euml;tte et la rue   Cloquet suivant le plan de d&eacute;limitation &eacute;tabli par Monsieur &Eacute;ric THEISMAN,   g&eacute;om&egrave;tre communal, en date du 18.05.2017.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>22.</strong></p>
            </td>
            <td align="justify">
            <p><strong>PLAN D'ALIGNEMENT - DECRET DU 06.02.2014 RELATIF A LA VOIRIE   COMMUNALE - APPROBATION DU PROJET DE REGULARISATION DU PLAN D'ALIGNEMENT   MODIFICATIF DE L'ANGLE FORME PAR LA RUE SAINT-S&Eacute;BASTIEN ET L'AVENUE ALPHONSE   ALLARD - APPROBATION DEFINITIVE DU PLAN D'ALIGNEMENT MODIFICATIF</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; prendre connaissance des   r&eacute;sultats de l'enqu&ecirc;te publique et de l'avis remis par le Coll&egrave;ge provincial   et &agrave; approuver d&eacute;finitivement les modifications apport&eacute;es &agrave; l'alignement de   l'angle form&eacute; par la rue Saint-S&eacute;bastien et l'avenue Alphonse   Allard suivant le plan de d&eacute;limitation &eacute;tabli par Monsieur &Eacute;ric   THEISMAN, g&eacute;om&egrave;tre communal, en date du 18.04.2017.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>23.</strong></p>
            </td>
            <td align="justify">
            <p><strong>R.F.I. - COMPTES ANNUELS ET ETAT DES RECETTES ET DEPENSES RELATIFS A   L'EXERCICE 2017 - APPROBATION PROVISOIRE</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; approuver les comptes de   la R.F.I. pour l'exercice 2017.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>24.</strong></p>
            </td>
            <td align="justify">
            <p><strong>MOTION DU CONSEIL COMMUNAL CONCERNANT LE PROJET DE LOI AUTORISANT LES   VISITES DOMICILIAIRES - PROPOSITION</strong></p>
            <p>Le Conseil communal est invit&eacute; &agrave; d&eacute;lib&eacute;rer sur l'adoption   d'une motion concernant le projet de loi autorisant les visites domiciliaires   propos&eacute;e par les groupes Ecolo et IB.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>25.</strong></p>
            </td>
            <td align="justify">
            <p><strong>MOTION &quot;BRAINE-L'ALLEUD, COMMUNE HOSPITALIERE&quot;</strong></p>
            <p>Il est propos&eacute; au Conseil communal de d&eacute;clarer la commune   de Braine-l'Alleud &quot;Commune hospitali&egrave;re&quot;.</p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>26.</strong></p>
            </td>
            <td align="justify">
            <p><strong>PROCES-VERBAL DE LA SEANCE PUBLIQUE DU 26.02.2018</strong></p>
            <p> </p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>27.</strong></p>
            </td>
            <td align="justify">
            <p><strong>PROCES-VERBAL DE LA SEANCE PUBLIQUE DU 26.03.2018</strong></p>
            <p> </p>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
            <p><strong>28.</strong></p>
            </td>
            <td align="justify">
            <p><strong>QUESTIONS DIVERSES (ARTICLE 79 DU REGLEMENT D'ORDRE INTERIEUR)</strong></p>
            <p> </p>
            </td>
        </tr>
    </tbody>
</table>
